<!-- <footer>
    <p>&copy; All rights reserved for <i>Sowmini</i> 2019</p></footer> -->

    <mat-toolbar color="primary">
      <footer><div class="copy">
          © 2019 Copyright Text
          <div class="icons">
            <ul class="social">
              <li><a class="grey-text text-lighten-3" href="#!" ><mat-icon>facebook</mat-icon></a></li>
              <li><a class="grey-text text-lighten-3" href="#!" ><mat-icon>linkedin</mat-icon></a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><mat-icon>twitter</mat-icon></a></li>
              <li><a class="grey-text text-lighten-3" href="#!"><mat-icon>google-plus</mat-icon></a></li>
            </ul>
          </div>

        </div></footer>

    <!-- <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Footer Content</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!" ><mat-icon>facebook</mat-icon></a></li>
                <li><a class="grey-text text-lighten-3" href="#!" ><mat-icon>linkedin</mat-icon></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><mat-icon>twitter</mat-icon></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><mat-icon>google-plus</mat-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer> -->

</mat-toolbar>
