<div fxLayout="row" fxLayoutAlign="start center">
  <mat-card class = "tp-card" fxFlex="25%">
      <img mat-card-image src = "assets/images/accom_1.jpg" alt = "Accomdation in hongkong luxeryHotel"  height="200px" width="300px">
    <mat-card-header >
       <div mat-card-avatar class = "tp-header-image"></div>
       <mat-card-title class="md-title">HongKong Guest house</mat-card-title>
       <mat-card-subtitle>Parklands</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
       <p>
        African style accommodation! Beautiful tropical garden with lapa entertainment areas as well as pool and ...
       </p>
    </mat-card-content>
    <mat-card-actions>
       <button mat-button mat-raised-button color="primary" (click)="accom1()">View Accomdation</button>
       <!-- <app-rooms [accomdation]="accomdationRoom1" (accom1)="accom1($event)"></app-rooms> -->
    </mat-card-actions>
</mat-card>
  <!-- another card -->
  <mat-card class = "tp-card" fxFlex="25%" >
      <img mat-card-image src = "assets/images/accom_2.jpg" alt = "Accomdation in hongkong luxeryHotel"  height="200px" width="300px">
  <mat-card-header>
    <div mat-card-avatar class = "tp-header-image"></div>
    <mat-card-title class="md-title">
      Blue Mountain Guest House</mat-card-title>
    <mat-card-subtitle>Bloubergstrand</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Established in 1996, Blue Mountain Guest House has a 22 year proud reputation of offering comfortable acc...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary">View Accomdation</button>

  </mat-card-actions>

  </mat-card>

  <!-- another card -->
  <mat-card class = "tp-card" fxFlex="25%" >
      <img mat-card-image src = "assets/images/accom_3.jpg" alt = "Accomdation in hongkong luxeryHotel"  height="200px" width="300px">
    <mat-card-header>
      <div mat-card-avatar class = "tp-header-image"></div>
      <mat-card-title class="md-title">Southcliff Guesthouse</mat-card-title>
      <mat-card-subtitle>Table View</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Southcliff has 8 bedrooms of varying facilities for the single business person to the family group sleepi...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary">View Accomdation</button>

    </mat-card-actions>

    </mat-card>


    <!-- another card -->
  <mat-card class = "tp-card" fxFlex="25%" >
      <img mat-card-image src = "assets/images/accom_4.jpg" alt = "Accomdation in hongkong luxeryHotel"  height="200px" width="300px">
    <mat-card-header>
      <div mat-card-avatar class = "tp-header-image"></div>
      <mat-card-title class="md-title">Cape Oasis Guesthouse</mat-card-title>
      <mat-card-subtitle>Table View</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        Cape Oasis offers you various possibilities to relax and spend some splendid holidays in Cape Town. The b...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-raised-button color="primary">View Accomdation</button>

    </mat-card-actions>

    </mat-card>
</div>
