<div class="container-fluid">
  <div>
    <h2>Hello Lifestyle!!!!</h2>
  </div>
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button  mat-button mat-raised-button color="accent"><a class="nav-link" routerLink="/lifestyle/excursions" routerLinkActive="active">Excursion</a></button>&nbsp;
      <button  mat-button mat-raised-button color="accent"><a class="nav-link" routerLink="/lifestyle/experinces" routerLinkActive="active">Experinences</a></button>&nbsp;
      <button  mat-button mat-raised-button color="accent"><a class="nav-link" routerLink="/lifestyle/resortandactivities" routerLinkActive="active">Resort & Activites</a></button>&nbsp;
      <button  mat-button mat-raised-button color="accent"><a class="nav-link" routerLink="/lifestyle/wellnessandspa" routerLinkActive="active">Wellness & Spa</a></button>
    </li>
</ul>
</div>
