<div class="container-fluid">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button><a class="nav-link" routerLink="/lifestyle/excursions" routerLinkActive="active">Excursion</a></button>
      <button><a class="nav-link" routerLink="/lifestyle/experinces" routerLinkActive="active">Experinences</a></button>
      <button><a class="nav-link" routerLink="/lifestyle/resortandactivities" routerLinkActive="active">Resort & Activites</a></button>
      <button><a class="nav-link" routerLink="/lifestyle/wellnessandspa" routerLinkActive="active">Wellness & Spa</a></button>
    </li>
</ul>
</div>
