
<div class="food-container">

  <h2 class="mat-display-1">
    Food & Beverage
  </h2>
  <h4 class="mat-display-3">
    With our F&B strategy, we create venues that are not simply “hot and trendy,” but rather essential to the very fabric of the cities and communities where we live – for locals and travelers alike.
    </h4>
</div>
<div>
  <p>Aiming for excellence combined with conviviality</p>
  <p>Food & Beverage is a key ingredient in our hospitality and has always influenced the reputation of our addresses. But our environment has changed: new travelers hunger and thirst for ever greater simplicity, excellence and authenticity and are demanding and tasteful in the way they choose their addresses</p>
</div>
