<div class="container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button mat-stroked-button color="primary" class="book-now-button">
        Book Now
      </button>
    </div>
  </div>

  <div class="header-container" fxLayout="column" fxLayout="row"   fxLayoutAlign="center center">
    <div >
      <h3 class="mat-subheading-2">
        Luxury Beach front Resort
      </h3>
      <h1 class="mat-headline">
          SM Beach Resorts &amp; Spa
        </h1>
    </div>
  </div>
</div>
