<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button mat-stroked-button color="primary" class="book-now-button" (click)="booknow()">
        Book Now
      </button>
    </div>
  </div>

  <div class="header-container" fxLayout="column" fxLayout="row"   fxLayoutAlign="center center">

      <h2 class="mat-display-1">
        Luxury Beach front Resort
      </h2>
      <h1 class="mat-display-3">
          SM Beach Resorts &amp; Spa
        </h1>
</div>

<div class="thailand" fxLayout="column" fxLayout="row"   fxLayoutAlign="center center">
  <h2 class="mat-display-4"> Thailand</h2>
</div>

<!-- <div class="thailand">
<h2> Thailand</h2>
</div> -->
</div>
