<h2 mat-dialog-title class="title">HongKong Guest house</h2>

<mat-dialog-content>

<p> My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
  My very eager mother just us nine planets
</p>
<img src="assets/images/accom_1.jpg" alt="">
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="booknow()">Booknow</button>
</mat-dialog-actions>


